extends /layout/layout
include /tags/frame
include /tags/form


block javascript
  script(type='text/javascript').
    
    $(document).ready( function () {
            
      $('.new-account').height($('.login').height());

      $("form#login-form").on("form.succes", function(event, result){
        
        if (result == 'OK'){
          // connection OK
        location.reload();
        }else{
          // Need to change password
          popupContent(result);
        }
      });
      
      $(document).on("form.succes", "form#password-form", function(event, result){
        
          // connection OK
          location.reload();
      });
    });

block content
  
  table.connexion-table.inner-padding
    tr
      td
        +frame(i18n.get('login_connection_frame_title')).login
          +form('login-form', '', 'POST')
            +formLine
              +inputText('login', true)(autofocus='true')
            +formLine
              +input('password', 'password', true)
            +buttons()
              +button.submit-button(rel='login-form')=i18n.get('button_connection')
              
      td
        +frame(i18n.get('login_newAccount_frame_title')).new-account.green
          div.newaccount-message!= i18n.get('login_newAccount_frame_content')
