include /tags/frame
include /tags/form

+frame(i18n.get('password_form_frame_title')).key
  div.content= i18n.get('password_form_info')
  +form('password-form', url.USERS_PASSWORD_POPUP, 'POST')
    +formLine()
      +input('password','password', true)(maxlength=200, autofocus='true')
    +formLine()
      +input('password','confirm', true)(maxlength=200)
    +buttons
      +button.close-popup= i18n.get('button_close_popup')
      +button.submit-button(rel='password-form')= i18n.get('button_edit')
