extends /layout/layout
include /tags/frame
include /tags/form

block javascript
  script(type='text/javascript').
    $(document).ready( function () {

      $(document).on('form.succes', "form#user-form", function(event, result){
        location.reload();
      });
    });

block content

  p Utilisateurs : 
  table
    tr
      th Prénom
      th Nom
    each user in users
      tr
        td=user.firstname
        td=user.name
        td=user.mail
  
  +frame()
    +form('user-form', url.USERS, 'POST')
      +formLine()
        +inputText('name', true)(maxlength=30, autofocus='true')
      +formLine()
        +inputText('firstname', true)(maxlength=30)
      +formLine()
        +input('password', 'password', true)(maxlength=30)
      +formLine()
        +inputText('mail', true)(maxlength=30)
      +buttons
        +button.submit-button.add-user(rel='user-form')= i18n.get('button_create')
