mixin bubble(text,tooltip,trigramme)

  div.bubble-wrapper&attributes(attributes)
  
    div.bubble-body
    
      div.bubble-pusher
      div.bubble-corner-block
      div.bubble-text!= text
      
    div.bubble-speaker.tooltip(title=tooltip)
    
    div.bubble-trigramme= trigramme