mixin frame(title, maxHeight)

  div.frame-wrapper&attributes(attributes)
    div.frame-title= title
    if maxHeight
      div.frame-content(style="max-height: " + maxHeight + 'px;')
        block
    else
      div.frame-content
        block
    