include /tags/frame
include /tags/form

+frame(i18n.get('conversation_form_frame_title')).chats
  +form('conversation-form')
    +formLine()
      +inputText('title', true)(maxlength=200)
    +formLine()
      +input('textarea','content', true)(maxlength=3000)
    +buttons
      button.close-popup Fermer
      button.submit-button.add-chat(rel='conversation-form')= i18n.get('conversation_form_create')
      