include /tags/frame
include /tags/form

+frame(i18n.get('conversation_form_frame_title')).chats
  +form('conversation-form', url.CONVERSATION_FORM, 'POST')
    +formLine()
      +inputText('title', true)(maxlength=200, autofocus='true')
    +formLine()
      +input('textarea','messages.content', true)(maxlength=3000).resize-vertical
    +formLine()
      +autocomplete('users', true)(rel=url.GET_USERS_AUTOCOMPLETE)
    +buttons
      +button.close-popup= i18n.get('button_close_popup')
      +button.submit-button.add-chat(rel='conversation-form')= i18n.get('conversation_form_create')
      